@font-face {
    font-family: 'Bold';
    src: url('../fonts/VivoTypeW05-Bold.woff2') format('woff2'),
      url('../fonts/VivoTypeW05-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Book';
    src: url('../fonts/VivoTypeW05-Regular.woff2') format('woff2'),
      url('../fonts/VivoTypeW05-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  